.headtext{
	margin-left:0;
	margin-right: 0; 
	padding-left: 0;
	padding-right: 0;
}
.hero-body{
 	background-color: #2977c5;
 	height: 150px;
}
.hero-head{
	background-color:#fff;
	font-family: 'Microsoft YaHei';
	font-size: 14px;
}

.hero-foot{
	font-family: 'Microsoft YaHei';
	font-size: 20px;
	background-color: #0056b2;
}
.tabs a {
	color: #f0f1f3;
	padding: 6px 33px;
	font-size: 20px;
	font-family: 'Microsoft YaHei';
}
.tabs.is-boxed li.is-active a {
	background-color: #56b6e8;
	color: #fff;
}
.tabs.is-boxed a:hover{
    background-color: #56b6e8;
    color: #ffffff;
}
.nav{
	min-height: 35px;
	height: 35px;
}

a.nav-item{
	color: #959595;
}

a.login{
	color: #ff9e21;
}

a.logup{
	color: #0056b2;
}

p.nav-item{
	color: #959595;
}

.notice-text{
	background-color: #d4d4d4;
	margin: 20px 0 10px 0;
	min-height: 40px;
	color: red;
	font-family: 'Microsoft YaHei';
}
.notice-title{
	background-color: #e2e8f3;
	margin: 20px 0 10px 0;
	min-height: 40px;
	font-family: 'Microsoft YaHei';
	font-size: 18px;
}
.btn-quick{
	width: 100%;
	border-color: #e9e9e9;
	color: #ffffff;
	background-color: #ff9e21;
	font-family: 'Microsoft YaHei';
	font-size: 18px;
	
}

.btn-quick:hover{
	color: #ffffff;
}

.btn-blue{
	width: 100%;
	height: 38px;
	background-color: #0879c5;
	color: #ffffff;
	font-size: 16px;
	font-family: 'Microsoft YaHei';
	justify-content: flex-start;
	border: 1px;
	border-style: solid solid dotted solid;
	border-radius: 0;
}

.btn-blue:hover{
	background-color: #56b6e8;
	color: #ffffff;
}

button.btn-login{
	background-color: #0879c5;
	color: #ffffff;
	font-size: 18px;
	font-family: 'Microsoft YaHei';
}
.btn-login:hover{
	background-color: #56b6e8;
	color: #ffffff;
}

.tabs li.is-active a {
    border-bottom-color: #0056b2;
    color: #0056b2;
    font-family: 'Microsoft YaHei';
    font-size: 18px;
}

.tabs li.is-bottom a {
    font-family: 'Microsoft YaHei';
    font-size: 16px;
}
.tabs li.text-left a {
    color: #56b6e8;
    border-bottom: 3px solid #ff9e21;
	justify-content: flex-start;
}

.tabs li.text-right a {
    color: #959595;
    font-family: 'Microsoft YaHei';
    font-size: 14px;
    margin-top: 3px;
    padding-right: 0;
    border-bottom: 3px solid #56b6e8;
	justify-content: flex-end;
}

.leagues-text{
	text-indent: 2em;
	font-size: 16px;
    font-family: 'Microsoft YaHei';
	color: #959595;
}

.leagues-link{
	white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    width: 240px;
}
article.media{
	padding: 0 15px;
}
.media-card{
	border: 1px solid #e9e9e9;
	background-color: #fff;
	margin-bottom: 20px;
	padding-bottom: 10px;
}
ul.title-tag{
	background-color: #f0f1f3;
	border-bottom: 0;
}
strong{
	font-family: 'Microsoft YaHei';
	font-size: 16px;
	color: #56b6e8;
}
.second-title{
	font-family: 'Microsoft YaHei';
	font-size: 14px;
	color: #959595;
}

.be-white{
	background-color: #fff;
	border-top: 3px solid #0056b2;
	border-bottom: 0;
}

a.unactive{
	border-bottom: 0;
	font-family: 'Microsoft YaHei';
    font-size: 18px;
    color: #363636;
}

p.control{
	margin: 0 10px;
}

.content{
	padding: 0 5px;
}

a{
	font-family: 'Microsoft YaHei';
    font-size: 14px;
    color: #959595;
}

a.a-nowrap:hover{
	color: #ff9e21;
}

a.a-nowrap:visited{
	text-decoration: underline;
}

a.a-nowrap{
	font-size: 16px;
	margin: 3px 0;
	display: block;
	white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    width: 100%;
}

a.a-blue{
	font-family: 'Microsoft YaHei';
    font-size: 16px;
    color: #56b6e8;
}

img{
	border-radius: 50%;

}

.search-content{
	background-color: #f0f1f3;
	height: 205px;
	margin-bottom: 10px;
	padding-top: 60px;
}
.tag.is-light {
	color: #0879c5;
	background-color: #d0cece;
	margin: 10px 10px 0 10px;
	font-size: 16px;
	font-family: 'Microsoft YaHei';
}

.tile.is-parent.add-padding{
	padding: .75rem 1.1rem;
}

img.rect-img{
	border-radius: 0;
}
article.text-center{
    align-items: center;
}

.icon.is-small {
	vertical-align: baseline;
}
.bottom-line{
	border-bottom: 1px solid #e9e9e9;
    margin: 0 0.75rem;
}
.flex-end{
	justify-content: flex-end;
}
.left-padding{
	padding: 0 0.75rem;
}
.foot-copyright{
	height: 2rem;
	color: #fff;
    background-color: #2186de;
    margin: 1.75rem -1.5rem 0 -1.5rem;
    align-items: center;
    justify-content: center;
   	font-size: 10px;
	font-family: 'Microsoft YaHei';
}

.footer{
	padding: 3rem 1.5rem 0 1.5rem;
}

.foot-title{
	font-size: 18px;
	font-family: 'Microsoft YaHei';
	color: #363636;
}
.foot-text{
	font-size: 14px;
	font-family: 'Microsoft YaHei';
	color: #959595;
}